.DS_Store
config.log
config.status
autom4te.cache
ptlib.pc
ptlib_cfg.dxy
revision.h
aclocal.m4
lib_*/
obj_*/
*.sdf
*.opensdf
*.suo
ipch/
bin/
*.VC.db
*.opendb
*.user
ptlib.xcodeproj/xcuserdata
make/ptlib_config.mak
include/ptlib_config.h
src/ptlib/common/getdate.c
