.DS_Store
config.log
config.status
autom4te.cache
ptlib.pc
ptlib_cfg.dxy
revision.h
aclocal.m4
lib/
obj/
lib_*/
obj_*/
ipch/
bin/
.vs/
*.sdf
*.opensdf
*.suo
*.VC.db
*.opendb
*.user
xcuserdata/
private/
/make/ptlib_config.mak
/include/ptlib_config.h
/src/ptlib/common/getdate.c
/samples/vxmltest/cache/

