config.log
config.status
autom4te.cache
aclocal.m4
ptlib.pc
ptlib_cfg.dxy
revision.h
make/ptlib_config.mak
include/ptlib_config.h
src/ptlib/common/getdate.c
lib*
obj*/
*.sdf
*.opensdf
*.suo
ipch/
bin/
*.db
*.user
